<ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="navbar-text me-3">Привет, {{ user.username }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile' %}">Личный кабинет</a>  <!-- добавим позже -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
        </li>
    {% endif %}
</ul>