{% extends 'store/base.html' %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
<h1>Оформление заказа</h1>
<form method="post">
    {% csrf_token %}
    <label>Фамилия: <input type="text" name="last_name" required></label><br>
    <label>Имя: <input type="text" name="first_name" required></label><br>
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Телефон: <input type="text" name="phone" required></label><br>
    <button type="submit">Подтвердить заказ</button>
</form>
{% endblock %}